[submodule "tests/plugins/DevTools"]
	path = tests/plugins/DevTools
	url = https://github.com/pmmp/DevTools.git
[submodule "build/php"]
	path = build/php
	url = https://github.com/pmmp/php-build-scripts.git
[submodule "not-stable"]
	path = not-stable
	url = https://github.com/xpocketmc/XPocketMP.git
